setuptools
websockets
langgraph
langchain-community
langchain-openai
fastapi
uvicorn
supervision
opencv-python
zerorpc
openai
pyowm
google-search-results
pyjwt
h5py
colorlog
psutil
vllm==0.7.3
deepspeed
qwen_vl_utils
math_verify
seaborn
alfworld
swift
LEGENT